.img-responsive-container{
    max-width: 800px;
}
.img-container{
    max-width: 300px;
}
.img-responsive{
    width: 100%;
    object-position: top center;  
    object-fit: cover; 
}
.img-semi-square{
    width: 100%;
    border-radius: 10%;
    object-position: top center;  
    object-fit: cover; 
}
.img-circle{
    width: 100%;
    border-radius: 50%;
    object-position: top center;  
    object-fit: cover;
}