.doc-card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width:600px) {
    .doc-card-container{
        flex-direction: column;
    }
}