<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="grid-responsive-layout">
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-responsive-layout">
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>