<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../favicon_io/site.webmanifest">
</head>
<body>
    <!-- <div class="grid-responsive-layout">
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-responsive-layout">
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container grid-layout-child">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="doc-container">
        <nav class="doc-nav navigation">
            <div class="nav-left">
                <div class="doc-nav-logo-container">
                    <a href="">
                        <img class="hero-logo" src="../../src/Glex UI-new cropped.png" alt="">
                    </a>
                </div>
                
            </div>
            <div class="nav-right">
                <ul class="nav-links doc-nav-links nav-desktop"> 
                    <li class="nav-link-item text-lg"><a href=""><i class="fab fa-github"></i></a></li>
                    <li class="nav-link-item text-lg"><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-link-item text-lg"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <ul class="nav-links nav-mobile">
                    <li class="nav-link-item drawar-menu-btn">
                           <a><i class="fas fa-bars font-wt-bold text-lg"></i></a> 
                    </li>
                </ul>
            </div>
        </nav>
        <aside class="doc-aside">
                <ul class="list-spaced">
                    <div class="list-spaced-heading"><h3>Get Started</h3></div>
                    <a href="../../Get_Started/introduction/introduction.html">
                        <li class="list-spaced-item text-md font-wt-bold">Introduction</li>
                    </a>
                    <a href="../../Get_Started/colors/colors.html">
                        <li class="list-spaced-item text-md font-wt-bold">Colors</li>
                    </a>
                    <a href="../text_utilities/text_utilities.html">
                        <li class="list-spaced-item text-md font-wt-bold">Text Utilities</li>
                    </a>
                    <div class="list-spaced-heading"><h3>Components</h3></div>
                    <a href="../alert/alert.html">
                        <li class="list-spaced-item text-md font-wt-bold">Alert</li>
                    </a>
                    <a href="../avatar/avater.html">
                        <li class="list-spaced-item text-md font-wt-bold">Avatar</li>
                    </a>
                    <a href="../badge/badge.html">
                        <li class="list-spaced-item text-md font-wt-bold">Badge</li>
                    </a>
                    <a href="../button/button.html">
                        <li class="list-spaced-item text-md font-wt-bold">Button</li>
                    </a>
                    <a href="../card/card.html">
                        <li class="list-spaced-item text-md font-wt-bold">Card</li>
                    </a>
                    <a href="../drawar/drawar.html">
                        <li class="list-spaced-item text-md font-wt-bold">Drawar</li>
                    </a> 
                    <a href="../grid/grid.html">
                        <li class="list-spaced-item text-md font-wt-bold list-item-active">Grid</li>
                    </a>
                    <a href="../image/images.html">
                        <li class="list-spaced-item text-md font-wt-bold">Image</li>
                    </a>
                    <a href="../input/input.html">
                        <li class="list-spaced-item text-md font-wt-bold">Input</li>
                    </a> 
                    <a href="../list/list.html">
                        <li class="list-spaced-item text-md font-wt-bold">List</li>
                    </a>
                    <a href="../modal/modal.html">
                        <li class="list-spaced-item text-md font-wt-bold">Modal</li>
                    </a>
                    <a href="../navigation/navigation.html">
                        <li class="list-spaced-item text-md font-wt-bold">Navigation</li>
                    </a>
                    <a href="../rating/rating.html">
                        <li class="list-spaced-item text-md font-wt-bold">Rating</li>
                    </a>
                    <a href="../slider/slider.html">
                        <li class="list-spaced-item text-md font-wt-bold">Slider</li>
                    </a>
                    <a href="../toast/toast.html">
                        <li class="list-spaced-item text-md font-wt-bold">Toast</li>
                    </a>  
                </ul>
        </aside>
        <main class="doc-main">
            <div class="doc-main-container">
                <h2 class="doc-main-header">Responsive Grid Layout</h2>
                <hr class="doc-main-hr">
                <h3 class="doc-main-subheader">2 items in a row</h3>
                <div class="grid-responsive-layout">
                    <div class="card-container grid-layout-child">
                        <div class="card-img-container">
                            <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                            <button class="card-img-tag-btn">
                                <span class="material-icons">favorite_border</span>
                            </button>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <div>Men Premium Jacket</div>
                                <div class="card-subtitle">₹2000</div>
                            </div>
                            <div class="card-footer-elements">
                                <button class="btn btn-primary background-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container grid-layout-child">
                        <div class="card-img-container">
                            <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                            <button class="card-img-tag-btn">
                                <span class="material-icons">favorite_border</span>
                            </button>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <div>Men Premium Jacket</div>
                                <div class="card-subtitle">₹2000</div>
                            </div>
                            <div class="card-footer-elements">
                                <button class="btn btn-primary background-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="doc-main-subheader">3 times in a row</h3>
                <div class="grid-responsive-layout">
                    <div class="card-container grid-layout-child">
                        <div class="card-img-container">
                            <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                            <button class="card-img-tag-btn">
                                <span class="material-icons">favorite_border</span>
                            </button>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <div>Men Premium Jacket</div>
                                <div class="card-subtitle">₹2000</div>
                            </div>
                            <div class="card-footer-elements">
                                <button class="btn btn-primary background-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container grid-layout-child">
                        <div class="card-img-container">
                            <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                            <button class="card-img-tag-btn">
                                <span class="material-icons">favorite_border</span>
                            </button>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <div>Men Premium Jacket</div>
                                <div class="card-subtitle">₹2000</div>
                            </div>
                            <div class="card-footer-elements">
                                <button class="btn btn-primary background-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-container grid-layout-child">
                        <div class="card-img-container">
                            <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                            <button class="card-img-tag-btn">
                                <span class="material-icons">favorite_border</span>
                            </button>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <div>Men Premium Jacket</div>
                                <div class="card-subtitle">₹2000</div>
                            </div>
                            <div class="card-footer-elements">
                                <button class="btn btn-primary background-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="doc-main-code-block">
                    <iframe
                        src="https://stackblitz.com/edit/web-platform-xjtbc6?embed=1&file=grid.html&hideExplorer=1&hideNavigation=1&theme=dark&view=editor"
                        style="height: 200px;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
           
        </main>
        <!-- <main>
            <div class="doc-main-container">
                <h2 class="doc-main-header">Avatar</h2>
                <p class="doc-main-text">Avatar is mainly used to show user's profile picture usually in circular or semi-square shape</p>
                <p class="doc-main-text">The avatar container has 5 sizes, avatar-container-xxl(6rem), avatar-container-xl(5rem), avatar-container-lg(4rem), avatar-container-md(3rem), avatar-container-sm(2rem)</p>
                <hr class="doc-main-hr">

                <h3 class="doc-main-subheader">Circle Avatar</h3>
                <div class="doc-main-output-container">
                    <div class="doc-avatar-container">
                        <div class="avatar-container-xxl">
                            <img class="avatar img-circle obj-pos-tp-ct" src="../../src/avatar/avatar1.jpeg" alt="sample image circle xxl">
                        </div>
                        <div class="avatar-container-xl">
                            <img class="avatar img-circle obj-pos-tp-ct" src="../../src/avatar/avatar2.jpeg" alt="sample image circle xl">
                        </div>
                        <div class="avatar-container-lg">
                            <img class="avatar img-circle obj-pos-tp-ct" src="../../src/avatar/avatar3.jpeg" alt="sample image circle lg">
                        </div>
                        <div class="avatar-container-md">
                            <img class="avatar img-circle obj-pos-tp-ct" src="../../src/avatar/avatar2.jpeg" alt="sample image circle md">
                        </div>
                        <div class="avatar-container-sm">
                            <img class="avatar img-circle obj-pos-tp-ct" src="../../src/avatar/avatar1.jpeg" alt="sample image circle sm">
                        </div>
                    </div>
                </div>
                <div class="doc-main-code-block">
                    <iframe
                        src="https://stackblitz.com/edit/web-platform-hze9jn?embed=1&file=avatar1.html&hideExplorer=1&hideNavigation=1&theme=dark&view=editor"
                        style="height: 300px;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <hr class="doc-main-hr">
                <h3 class="doc-main-subheader">Semi-square Avatar</h3>
                <div class="doc-main-output-container">
                    <div class="doc-avatar-container">
                        <div class="avatar-container-xxl">
                            <img class="avatar img-semi-square obj-pos-tp-ct" src="../../src/avatar/avatar1.jpeg" alt="sample image circle xxl">
                        </div>
                        <div class="avatar-container-xl">
                            <img class="avatar img-semi-square obj-pos-tp-ct" src="../../src/avatar/avatar2.jpeg" alt="sample image circle xl">
                        </div>
                        <div class="avatar-container-lg">
                            <img class="avatar img-semi-square obj-pos-tp-ct" src="../../src/avatar/avatar3.jpeg" alt="sample image circle lg">
                        </div>
                        <div class="avatar-container-md">
                            <img class="avatar img-semi-square obj-pos-tp-ct" src="../../src/avatar/avatar2.jpeg" alt="sample image circle md">
                        </div>
                        <div class="avatar-container-sm">
                            <img class="avatar img-semi-square obj-pos-tp-ct" src="../../src/avatar/avatar1.jpeg" alt="sample image circle sm">
                        </div>
                    </div>
                </div>
                <div class="doc-main-code-block">
                    <iframe
                        src="https://stackblitz.com/edit/web-platform-hze9jn?embed=1&file=avatar2.html&hideExplorer=1&hideNavigation=1&theme=dark&view=editor"
                        style="height: 300px;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </main> -->
    </div>



    <script src="https://kit.fontawesome.com/aea77d48ee.js" crossorigin="anonymous"></script>
</body>
</html>