<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-card-container">
        <div class="card-container card-container-shadow">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container card-container-hz">
            <div class="card-img-container-hz">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container card-container-shadow">
            <div class="card-img-container">
                <img class="card-img" src="https://picsum.photos/300/375" alt="card image">
                <button class="card-img-tag-btn">
                    <span class="material-icons">favorite_border</span>
                </button>
                <div class="card-img-text-overlay">
                    Lorem ipsum dolor sit amet consectetur
                </div>
            </div>
            <div class="card-content">
                <div class="card-text">
                    <div>Men Premium Jacket</div>
                    <div class="card-subtitle">₹2000</div>
                </div>
                <div class="card-footer-elements">
                    <button class="btn btn-primary background-primary">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="card-container"> 
            <span class="material-icons card-close-btn">close</span>                     
            <div class="card-content">
                <div class="card-text">
                    <div class="card-title"><h3>Men Premium Jacket</h3></div>
                    <div class="card-context">Lorem ipsum, dolor sit amet conse adipisicing elit. Debitis, exercitationem!</div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>