<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-input-container">
        <div class="input-container">
            <label>Username *</label>
            <input placeholder="text input field" class="text-input" type="text">
        </div>
        <div class="input-container">
            <label>Number </label>
            <input placeholder="number input field" class="number-input" type="number">
        </div>
        <div class="input-container error">
            <label>Password *</label>
            <input placeholder="password input field" class="password-input" type="password" name="" id="">
            <div class="err-msg">
                Wrong Password. Try again.
            </div>
        </div>
        <div class="input-container-hz">
            <label for="checked">checked
                <input type="radio" name="radio-sample" id="checked" value="checked">
            </label>
            <label for="unchecked">unchecked
                <input type="radio" name="radio-sample" id="unchecked" value="unchecked">
            </label>
            <label for="disabled">disabled
                <input type="radio" name="radio-sample" id="disabled" value="disabled" disabled>
            </label>
        </div>
        <div class="input-container-hz">
            <label for="checked">checked
                <input type="checkbox" name="radio-sample" id="checked" value="checked">
            </label>
            <label for="unchecked">unchecked
                <input type="checkbox" name="radio-sample" id="unchecked" value="unchecked">
            </label>
            <label for="disabled">disabled
                <input type="checkbox" name="radio-sample" id="disabled" value="disabled" disabled>
            </label>
        </div>
        <div class="input-container">
            <label>Tell us your story:</label>
            <textarea placeholder="textarea input field" rows="5" cols="33" class="text-input"></textarea>
        </div>
    </div>

    
</body>
</html>