<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-button-container">
        <button class="btn btn-primary">Button Primary</button>
        <button class="btn btn-secondary">Button Secondary</button>
        <button class="btn btn-primary" disabled>Button primary Disabled</button>
        <button class="btn btn-secondary" disabled>Button secondary disabled</button>
        <a href="#" class="btn-link btn-primary btn-link-hover-primary">This is primary link</a>
        <a href="#" class="btn-link btn-secondary btn-link-hover-secondary">This is secondary link</a>
    </div>
    
</body>
</html>