.btn{
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    text-decoration: none;
}

.btn-primary:hover:enabled{
    background-color: var(--secondary-color);
    border:0.125rem solid var(--secondary-color);
    color: var(--primary-color-dark);
}
.btn-secondary:hover:enabled{
    color:var(--white-color);
    background-color: var(--primary-color);
    border-radius:0.25rem;
    border:0.125rem solid var(--primary-color);
}
.btn:active,.btn-link:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-link-primary:hover{
    background-color: var(--secondary-color);
    border: 0.125rem solid var(--secondary-color);
    color: var(--primary-color-dark);
}
.btn-link-secondary:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius:0.25rem;
    border:0.125rem solid var(--primary-color);
}
button:disabled,
button[disabled]{
  border: 0.125rem solid var(--grey-400);
  background-color:var(--grey-400);
  color:var(--white-color);
}
