<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-button-container">
        <button class="btn btn-primary">Button Primary</button>
        <button class="btn btn-secondary">Button Secondary</button>
        <button class="btn btn-primary" disabled>Button primary Disabled</button>
        <button class="btn btn-secondary" disabled>Button secondary disabled</button>
        <a href="#" class="btn-link btn-primary btn-link-hover-primary">This is primary link</a>
        <a href="#" class="btn-link btn-secondary btn-link-hover-secondary">This is secondary btn</a>
    </div>
    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=monokai&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=134%25&si=false&es=2x&wm=false"
  style="width: 100%; height: 392px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
    
</body>
</html>