.avatar{
    border:0.125rem solid var(--white-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar-container-lg{
    width: 5rem;
    height: 5rem;
}
.avatar-container-md{
    width: 4rem;
    height: 4rem;
}
.avatar-container-sm{
    width: 3rem;
    height: 3rem;
}
