<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avater | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="avatar-container-lg">
        <img class="avatar-circle" src="../../src/avatar/avatar1.jpeg" alt="">
    </div>
    <div class="avatar-container-md">
        <img class="avatar-circle" src="../../src/avatar/avatar2.jpeg" alt="">
    </div>
    <div class="avatar-container-sm">
        <img class="avatar-circle" src="../../src/avatar/avatar3.jpeg" alt="">
    </div>
    <div class="avatar-container-lg">
        <img class="avatar-square" src="../../src/avatar/avatar1.jpeg" alt="">
    </div>
    <div class="avatar-container-md">
        <img class="avatar-square" src="../../src/avatar/avatar2.jpeg" alt="">
    </div>
    <div class="avatar-container-sm">
        <img class="avatar-square" src="../../src/avatar/avatar3.jpeg" alt="">
    </div>
</body>
</html>