<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawar | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
        <nav class="navigation">
            <a class="hero-link" href="../../index.html">
                <span>
                    <img class="hero-logo" src="/src/logo/Glex UI sec.png" alt=""/>
                    <small class="hero-name">v1.0</small>
                </span>
            </a>
            <ul class="nav-link-container">
                <li class="header-link">
                    <a href="#">
                        <p class="text-lg font-wt-semibold">Home</p>
                    </a>
                </li>
                <li class="header-link">
                    <a href="#">
                        <p class="text-lg font-wt-semibold">Documentation</p>
                    </a>
                </li>
                <li class="header-link">
                    <a href="#">
                        <p class="text-lg font-wt-semibold"><i class="fab fa-github"></i></p>
                    </a>
                </li>
                <li class="header-link drawar-menu-btn">
                    <a href="#">
                        <p class="text-lg font-wt-semibold"><i class="fas fa-bars"></i></p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="drawar-container">
            <ul class="list-spaced">
                <div class="list-spaced-heading">
                    <h3>List Heading</h3>
                    <h3 class="drawar-close material-icons">close</h3>
                </div>
                <a href="#">
                    <li class="list-spaced-item text-md font-wt-semibold list-item-active">Active Item</li>
                </a>
                <a href="#">
                    <li class="list-spaced-item text-md font-wt-semibold">Second Item</li>
                </a>
                <a href="#">
                    <li class="list-spaced-item text-md font-wt-semibold">Third Item</li>
                </a>
                <a href="#">
                    <li class="list-spaced-item text-md font-wt-semibold">Fourth Item</li>
                </a>    
            </ul> 
        </div>
            
    
    
    <script src="./drawar.js"></script>
    <script src="https://kit.fontawesome.com/aea77d48ee.js" crossorigin="anonymous"></script>
</body>
</html>