<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-slider-container">
        <div class="input-container">
            <input type="range" name="rangeInput" class="slider" min="0" max="100">
        </div>
        <h2 class="slider-value">50</h2>
    </div>
    

    <script src="./slider.js"></script>
</body>
</html>