<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="snackbar-container">
        <div class="snackbar-element"><p>Can't send photo. Retry in 5 seconds.</p></div>
        <div class="snackbar-element-clickable"><a href="#" class="">RETRY</a></div>
        <div class="snackbar-element-clickable">
            <span class="material-icons">close</span>
        </div>
    </div>
</body>
</html>