.snackbar-container {
  display: flex;
  align-items: center;
  max-width: 30rem;
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: 0.25rem;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  gap: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.snackbar-element,
.snackbar-element-clickable {
  display: flex;
  justify-content: center;
  align-items: center;
}
.snackbar-element-clickable {
  cursor: pointer;
}
