<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glex | Lists</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../favicon_io/site.webmanifest">
</head>
<body>
    <div class="doc-list-container">
        <ul class="list-spaced">
            <div class="list-spaced-heading"><h3>List Heading</h3></div>
            <a href="#">
                <li class="list-spaced-item text-md font-wt-semibold list-item-active">Active Item</li>
            </a>
            <a href="#">
                <li class="list-spaced-item text-md font-wt-semibold">Second Item</li>
            </a>
            <a href="#">
                <li class="list-spaced-item text-md font-wt-semibold">Third Item</li>
            </a>
            <a href="#">
                <li class="list-spaced-item text-md font-wt-semibold">Fourth Item</li>
            </a>    
        </ul>
        <ul class="list-stacked">
            <li class="list-stacked-item">
                <div class="list-stacked-heading">
                    <h3>List Group Heading</h3>
                    <h4>7 days ago</h4>
                </div>
                <p class="text-md">Some placeholder content in a paragraph</p>
                <p class="text-sm">Some placeholder content in a paragraph</p>
            </li>
            <li class="list-stacked-item">
                <div class="list-stacked-heading">
                    <h3>List Group Heading</h3>
                    <h4>7 days ago</h4>
                </div>
                <p class="text-md">Some placeholder content in a paragraph</p>
                <p class="text-sm">Some placeholder content in a paragraph</p>
            </li>
        </ul>
    </div>
    
</body>
</html>