<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glex | Lists</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-list-container">
        <ul class="list-spaced">
            <div class="list-spaced-heading"><h3>List Heading</h3></div>
            <li class="list-spaced-item text-md font-wt-semibold list-item-active"><a href="#">Active Item</a></li>
            <li class="list-spaced-item text-md font-wt-semibold"><a href="#">Second Item</a></li>
            <li class="list-spaced-item text-md font-wt-semibold"><a href="#">Third Item</a></li>
            <li class="list-spaced-item text-md font-wt-semibold"><a href="#">Fourth Item</a></li>
        </ul>
        <ul class="list-stacked">
            <li class="list-stacked-item">
                <div class="list-stacked-heading">
                    <h3>List Group Heading</h3>
                    <h4>7 days ago</h4>
                </div>
                <p class="paragraph-md">Some placeholder content in a paragraph</p>
                <p class="paragraph-sm">Some placeholder content in a paragraph</p>
            </li>
            <li class="list-stacked-item">
                <div class="list-stacked-heading">
                    <h3>List Group Heading</h3>
                    <h4>7 days ago</h4>
                </div>
                <p class="paragraph-md">Some placeholder content in a paragraph</p>
                <p class="paragraph-sm">Some placeholder content in a paragraph</p>
            </li>
        </ul>
    </div>
    
</body>
</html>