.navigation{
    display: flex;
    align-items: center;
}
.nav-left{
    margin-right: auto;
}
.nav-right{
    margin-left: auto;
}
.nav-logo-container{
    width: 6rem;
    height: 6rem;
}
.hero-logo{
    width: 100%;
}
.nav-search{
    width: 20rem;
}
.nav-links{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
}
.nav-link-item a{
    padding:0 1rem;
    color: var(--primary-color);
}
.nav-link-item a:hover{
    padding:0 1rem;
    color: var(--secondary-color);
}
.nav-mobile{
    display: none;
}
@media screen and (max-width:750px) {
    .nav-logo-container{
        width: 5rem;
        height: 5rem;
    }
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: block;
    }
}
@media screen and (max-width:500px) {
    .nav-logo-container{
        width: 4rem;
        height: 4rem;
    }
    .nav-mid{
        display: none;
    }
}
