<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Component | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <nav class="navigation">
        <div class="nav-left">
            <div class="nav-logo-container">
                <a href="">
                    <img class="hero-logo" src="../../src/logo/Glex UI sec.png" alt="">
                </a>
            </div>
            
        </div>
        <div class="nav-mid">
                <input placeholder="search" class="nav-search brd-rd-semi-sq text-input" type="text">
        </div>
        <div class="nav-right">
            <ul class="nav-links nav-desktop"> 
                <li class="nav-link-item"><a href="">link1</a></li>
                <li class="nav-link-item"><a href="">link2</a></li>
                <li class="nav-link-item"><a href="">link3</a></li>
            </ul>
            <ul class="nav-links nav-mobile">
                <li class="nav-link-item drawar-menu-btn">
                       <a><i class="fas fa-bars font-wt-bold text-lg"></i></a> 
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://kit.fontawesome.com/aea77d48ee.js" crossorigin="anonymous"></script>
</body>
</html>