.navigation{
    display: flex;
    align-items: center;
    padding: 0.125rem;
    width: 100%;
}
.hero-link span{
    display: grid;
}
.hero-logo,
.hero-name{
    grid-row: 1/2;
    grid-column: 1/2;
}
.hero-name{
    align-self: end;
    justify-self: end;
}

.hero-logo{
    border-radius: 0.25rem;
    max-width: 6rem;
}
.nav-link-container{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    gap: 1rem;
    padding: 1rem;
}
.header-link a{
    text-decoration: none;
    color: var(--secondary-color);
}
.header-link a:hover{
    color: var(--text-color);
}
