<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlexUI | Navigation</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../favicon_io/site.webmanifest">
</head>
<body>
    <nav class="navigation">
        <a class="hero-link" href="../../index.html">
            <span>
                <img class="hero-logo" src="/src/logo/Glex UI sec.png" alt=""/>
                <small class="hero-name">v1.0</small>
            </span>
        </a>
        <ul class="nav-link-container">
            <li class="header-link"><a href="#">Home</a></li>
            <li class="header-link"><a href="#">Documentation</a></li>
            <li class="header-link"><a href="#"><i class="fab fa-github"></i></a></li>
        </ul>
    </nav>

    <script src="https://kit.fontawesome.com/aea77d48ee.js" crossorigin="anonymous"></script>
</body>
</html>