<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating | GlexUI</title>
    <link rel="stylesheet" href="../../style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../../favicon_io/site.webmanifest" />
  </head>
  <body>
    <div class="drawar-container">
      <ul class="list-spaced">
        <div class="list-spaced-heading">
          <h3>
            <ul class="nav-links doc-nav-links">
              <li class="nav-link-item text-lg">
                <a href="https://github.com/Rohanmond"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li class="nav-link-item text-lg">
                <a href="https://twitter.com/RohanMo33437915"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="nav-link-item text-lg">
                <a href="https://www.linkedin.com/in/rohanmondal/"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
          </h3>
          <h3 class="drawar-close material-icons">close</h3>
        </div>
        <ul class="list-spaced">
          <div class="list-spaced-heading"><h3>Get Started</h3></div>
          <a href="../../Get_Started/introduction/introduction.html">
            <li class="list-spaced-item text-md font-wt-bold">Introduction</li>
          </a>
          <a href="../../Get_Started/colors/colors.html">
            <li class="list-spaced-item text-md font-wt-bold">Colors</li>
          </a>
          <a href="../text_utilities/text_utilities.html">
            <li class="list-spaced-item text-md font-wt-bold">
              Text Utilities
            </li>
          </a>
          <div class="list-spaced-heading"><h3>Components</h3></div>
          <a href="../alert/alert.html">
            <li class="list-spaced-item text-md font-wt-bold">Alert</li>
          </a>
          <a href="../avatar/avater.html">
            <li class="list-spaced-item text-md font-wt-bold">Avatar</li>
          </a>
          <a href="../badge/badge.html">
            <li class="list-spaced-item text-md font-wt-bold">Badge</li>
          </a>
          <a href="../button/button.html">
            <li class="list-spaced-item text-md font-wt-bold">Button</li>
          </a>
          <a href="../card/card.html">
            <li class="list-spaced-item text-md font-wt-bold">Card</li>
          </a>
          <a href="../drawar/drawar.html">
            <li class="list-spaced-item text-md font-wt-bold">Drawar</li>
          </a>
          <a href="../grid/grid.html">
            <li class="list-spaced-item text-md font-wt-bold">Grid</li>
          </a>
          <a href="../image/images.html">
            <li class="list-spaced-item text-md font-wt-bold">Image</li>
          </a>
          <a href="../input/input.html">
            <li class="list-spaced-item text-md font-wt-bold">Input</li>
          </a>
          <a href="../list/list.html">
            <li class="list-spaced-item text-md font-wt-bold">List</li>
          </a>
          <a href="../modal/modal.html">
            <li class="list-spaced-item text-md font-wt-bold">Modal</li>
          </a>
          <a href="../navigation/navigation.html">
            <li class="list-spaced-item text-md font-wt-bold">Navigation</li>
          </a>
          <a href="../rating/rating.html">
            <li class="list-spaced-item text-md font-wt-bold list-item-active">
              Rating
            </li>
          </a>
          <a href="../slider/slider.html">
            <li class="list-spaced-item text-md font-wt-bold">Slider</li>
          </a>
          <a href="../toast/toast.html">
            <li class="list-spaced-item text-md font-wt-bold">Toast</li>
          </a>
        </ul>
      </ul>
    </div>
    <div class="doc-container">
      <nav class="doc-nav navigation">
        <div class="nav-left">
          <div class="doc-nav-logo-container">
            <a href="">
              <img
                class="hero-logo"
                src="../../src/Glex UI-new cropped.png"
                alt=""
              />
            </a>
          </div>
        </div>
        <div class="nav-right">
          <ul class="nav-links doc-nav-links nav-desktop">
            <li class="nav-link-item text-lg">
              <a href="https://github.com/Rohanmond"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li class="nav-link-item text-lg">
              <a href="https://twitter.com/RohanMo33437915"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li class="nav-link-item text-lg">
              <a href="https://www.linkedin.com/in/rohanmondal/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
          <ul class="nav-links nav-mobile">
            <li class="nav-link-item drawar-menu-btn">
              <a><i class="fas fa-bars font-wt-bold text-lg"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <aside class="doc-aside">
        <ul class="list-spaced">
          <div class="list-spaced-heading"><h3>Get Started</h3></div>
          <a href="../../Get_Started/introduction/introduction.html">
            <li class="list-spaced-item text-md font-wt-bold">Introduction</li>
          </a>
          <a href="../../Get_Started/colors/colors.html">
            <li class="list-spaced-item text-md font-wt-bold">Colors</li>
          </a>
          <a href="../text_utilities/text_utilities.html">
            <li class="list-spaced-item text-md font-wt-bold">
              Text Utilities
            </li>
          </a>
          <div class="list-spaced-heading"><h3>Components</h3></div>
          <a href="../alert/alert.html">
            <li class="list-spaced-item text-md font-wt-bold">Alert</li>
          </a>
          <a href="../avatar/avater.html">
            <li class="list-spaced-item text-md font-wt-bold">Avatar</li>
          </a>
          <a href="../badge/badge.html">
            <li class="list-spaced-item text-md font-wt-bold">Badge</li>
          </a>
          <a href="../button/button.html">
            <li class="list-spaced-item text-md font-wt-bold">Button</li>
          </a>
          <a href="../card/card.html">
            <li class="list-spaced-item text-md font-wt-bold">Card</li>
          </a>
          <a href="../drawar/drawar.html">
            <li class="list-spaced-item text-md font-wt-bold">Drawar</li>
          </a>
          <a href="../grid/grid.html">
            <li class="list-spaced-item text-md font-wt-bold">Grid</li>
          </a>
          <a href="../image/images.html">
            <li class="list-spaced-item text-md font-wt-bold">Image</li>
          </a>
          <a href="../input/input.html">
            <li class="list-spaced-item text-md font-wt-bold">Input</li>
          </a>
          <a href="../list/list.html">
            <li class="list-spaced-item text-md font-wt-bold">List</li>
          </a>
          <a href="../modal/modal.html">
            <li class="list-spaced-item text-md font-wt-bold">Modal</li>
          </a>
          <a href="../navigation/navigation.html">
            <li class="list-spaced-item text-md font-wt-bold">Navigation</li>
          </a>
          <a href="../rating/rating.html">
            <li class="list-spaced-item text-md font-wt-bold list-item-active">
              Rating
            </li>
          </a>
          <a href="../slider/slider.html">
            <li class="list-spaced-item text-md font-wt-bold">Slider</li>
          </a>
          <a href="../toast/toast.html">
            <li class="list-spaced-item text-md font-wt-bold">Toast</li>
          </a>
        </ul>
      </aside>
      <main class="doc-main">
        <div class="doc-main-container">
          <h2 class="doc-main-subheader">Ratings</h2>
          <p class="doc-main-text">
            Rating component can be used as to give rating for a product.
          </p>
          <div class="doc-main-output-container">
            <div class="rating-container">
              <i id="star-1" class="cursor-pointer far fa-star"></i>
              <i id="star-2" class="cursor-pointer far fa-star"></i>
              <i id="star-3" class="cursor-pointer far fa-star"></i>
              <i id="star-4" class="cursor-pointer far fa-star"></i>
              <i id="star-5" class="cursor-pointer far fa-star"></i>
            </div>
            <p id="outputNum" class="text-lg font-weight-semibold"></p>
          </div>
          <div class="doc-main-code-block">
            <iframe
              src="https://stackblitz.com/edit/web-platform-kwbcs7?embed=1&file=rating.html&hideExplorer=1&hideNavigation=1&theme=dark&view=editor"
              style="height: 300px"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="doc-main-code-block">
            <iframe
              src="https://stackblitz.com/edit/web-platform-kwbcs7?embed=1&file=rating.js&theme=dark&view=editor"
              style="height: 300px"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
    </div>
    <script
      src="https://kit.fontawesome.com/aea77d48ee.js"
      crossorigin="anonymous"
    ></script>

    <script src="../drawar/drawar.js"></script>

    <script src="./slider.js"></script>
    <script src="./rating.js"></script>
  </body>
</html>
