<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../favicon_io/site.webmanifest">
</head>
<body>

    <div class="doc-badge-container">
        <div class="badge-container avatar-container-lg">
            <img class="badge-avatar img-circle obj-pos-tp-ct" src="https://picsum.photos/300/300" alt="sample image circle">
            <div class="badge-status background-online"></div>
        </div>
        <div class="badge-container avatar-container-md">
            <img class="badge-avatar img-semi-square obj-pos-tp-ct" src="https://picsum.photos/300/300" alt="sample image sq">
            <div class="badge-status background-offline"></div>
        </div>
        <div class="badge-container avatar-container-sm">
            <img class="badge-avatar img-circle obj-pos-tp-ct" src="https://picsum.photos/300/300" alt="sample image circle">
            <div class="badge-status background-dnd"></div>
        </div>
        <div class="badge-container">
            <div class="badge-icon">
                <span class="material-icons">shopping_cart</span>
            </div>
            <div class="badge-number background-online">12</div>
        </div>
        <div class="badge-container">
            <div class="badge-icon">
                <span class="material-icons">email</span>
            </div>
            <div class="badge-number background-dnd">99+</div>
        </div>
    </div>
    
</body>
</html>