<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>

    <div class="doc-badge-container">
        <div class="badge-container avatar-container-lg">
            <img class="badge-avatar-circle" src="https://picsum.photos/300/300" alt="">
            <div class="badge-status"></div>
        </div>
        <div class="badge-container avatar-container-md">
            <img class="badge-avatar-square" src="https://picsum.photos/300/300" alt="">
            <div class="badge-status"></div>
        </div>
        <div class="badge-container avatar-container-sm">
            <img class="badge-avatar-circle" src="https://picsum.photos/300/300" alt="">
            <div class="badge-status"></div>
        </div>
    </div>
    

</body>
</html>