.alert{
    width: 100%;
    max-width: 80vw;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: flex-start;
}
.alert-close{
    margin-left: auto;
    cursor: pointer;
}