<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="doc-alert-container">
        <div class="alert">
            <span class="alert-msg"><strong>Primary!</strong> This is a primary alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert">
            <span class="alert-msg"><strong>Secondary!</strong> This is a secondary alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert">
            <span class="alert-msg"><strong>Success!</strong> This is a success alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert">
            <span class="alert-msg"><strong>Warning!</strong> This is a warning alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
    </div>
</body>
</html>