<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert | GlexUI</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../favicon_io/site.webmanifest">
</head>
<body>
    <div class="doc-alert-container">
        <div class="alert background-primary brd-rd-semi-sq">
            <span class="alert-msg"><strong>Primary!</strong> This is a primary alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert background-success brd-rd-semi-sq">
            <span class="alert-msg"><strong>Secondary!</strong> This is a secondary alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert background-warn brd-rd-semi-sq">
            <span class="alert-msg"><strong>Success!</strong> This is a success alert</span>              
        </div>
        <div class="alert background-danger">
            <span class="alert-msg"><strong>Warning!</strong> This is a warning alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert outlined-primary brd-rd-semi-sq">
            <span class="alert-msg"><strong>Primary!</strong> This is a primary alert</span>           
        </div>
        <div class="alert outlined-success">
            <span class="alert-msg"><strong>Secondary!</strong> This is a secondary alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert outlined-warn">
            <span class="alert-msg"><strong>Success!</strong> This is a success alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
        <div class="alert outlined-danger">
            <span class="alert-msg"><strong>Warning!</strong> This is a warning alert</span>
            <span class="material-icons alert-close">close</span>                
        </div>
    </div>
</body>
</html>